<!DOCTYPE html>
@model WebMVC.Models.Employee
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>EmployeeForm</title>
</head>
<body>
    <div>
        <form action="/employees/edit" method="post">
            @Html.TextBoxFor(m => m.EmployeeId)
            @Html.TextBoxFor(m => m.FirstName)
            @Html.TextBoxFor(m => m.LastName)
            <input type="submit" name="tambah" value="Update" />
        </form>
    </div>
</body>
</html>
