<!DOCTYPE html>
@{ 
    string formAction;
    if(ViewBag.id != null) {
        formAction = "/employees/" + ViewBag.id + "/edit";
    }
    else
    {
        formAction = "/employees";
    }
}
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>EmployeeForm</title>
</head>
<body>
    <div> 
        <form action="@formAction" method="post">
            <input type="text" name="name" value="@ViewBag.name" />
            <input type="submit" name="tambah" value="Tambah" />
        </form>
    </div>
</body>
</html>
