<!DOCTYPE html>
@model WebMVC.Models.Employee
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Employee</title>
</head>
<body>
    <div>
        Showing
        <h3>@Model.EmployeeId</h3>
        <h3>@Model.FirstName</h3>
        <h3>@Html.DisplayFor(m => m.LastName)</h3>
    </div>
</body>
</html>