<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>EmployeeForm</title>
</head>
<body>
    <div> 
        <form action="/employees" method="post">
            <input name="id" />
            <input type="submit" name="tambah" value="Tambah" />
        </form>
    </div>
</body>
</html>
