<!DOCTYPE html>
@{
    List<string> names = (List<string>)ViewBag.listEmployee;
 }
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <link href="~/Content/bootstrap.min.css" rel="stylesheet" type="text/css" />
    <title>Index Page</title>
</head>
<body>
    <div>
        @foreach(string name in names)
        {
            <h3>@name</h3>
        }
    </div>
</body>
<script src="~/Scripts/bootstrap.min.js" ></script>
</html>
