<!DOCTYPE html>
@model WebMVC.Models.Employee
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>EmployeeForm</title>
</head>
<body>
    <div>
        @using(Html.BeginForm("NewEmployee", "Index", FormMethod.Post))
         {
            @Html.EditorFor(m => m.EmployeeId)
            @Html.EditorFor(m => m.FirstName)
            @Html.EditorFor(m => m.LastName)
            @Html.Editor("EmployeeId")
            <input type="submit" value="Tambah" />
         }
    </div>
</body>
</html>
