<!DOCTYPE html>
@model List<WebMVC.Models.Employee>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <link href="~/Content/bootstrap.min.css" rel="stylesheet" type="text/css" />
    <title>Index Page</title>
</head>
<body>
    <table border="1">
        <thead>
            <tr>
                <th><a href="/employees/new">Tambah</a></th>
            </tr>
            <tr>
                <th>ID</th>
                <th>First Name</th>
                <th>Last Name</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach(var employee in Model)
            {
                <tr>
                    <td>@employee.EmployeeId</td>
                    <td>@employee.FirstName</td>
                    <td>@employee.LastName</td>
                    <td>
                        <form action="/employees/@employee.EmployeeId/delete" method="post">
                            <input type="submit" value="X" />
                        </form>
                        <a href="/employees/@employee.EmployeeId/edit">Edit</a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</body>
<script src="~/Scripts/bootstrap.min.js"></script>
</html>