@using WebMVC.Models;
<!DOCTYPE html>
@{ 
    List<Employee> employees = (List<Employee>)TempData.Peek("employees");
}
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <link href="~/Content/bootstrap.min.css" rel="stylesheet" type="text/css" />
    <title>Index Page</title>
</head>
<body>
    <div>
        @foreach(Employee employee in employees)
        {
            <h3>@employee.FirstName @employee.LastName</h3>
            <form action="/employees/@employee.EmployeeId/delete" method="post">
                <input type="submit" value="Delete" />
            </form>
        }
    </div>
</body>
<script src="~/Scripts/bootstrap.min.js" ></script>
</html>
