<!DOCTYPE html>
@{ 
    List<string> names = (List<string>)TempData.Peek("names");
}
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <link href="~/Content/bootstrap.min.css" rel="stylesheet" type="text/css" />
    <title>Index Page</title>
</head>
<body>
    <div>
        @for(int i = 0; i < names.Count; i++)
        {
            <h3>@names[i]</h3>
            <form action="/employees/@i/delete" method="post">
                <input type="submit" value="Delete" />
            </form>
        }
    </div>
</body>
<script src="~/Scripts/bootstrap.min.js" ></script>
</html>
