<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>EmployeeForm</title>
</head>
<body>
    <div> 
        <form action="/employees" method="post">
            <input type="text" name="EmployeeId" />
            <input type="text" name="FirstName" />
            <input type="text" name="LastName" />
            <input type="submit" name="tambah" value="Tambah" />
        </form>
    </div>
</body>
</html>
