<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <link href="~/Content/bootstrap.min.css" rel="stylesheet" type="text/css" />
    <title>Index Page</title>
</head>
<body>
    <div>
        @{
            Response.Write(ViewBag.listEmployee);
        }
    </div>
</body>
<script src="~/Scripts/bootstrap.min.js" ></script>
</html>
